nbproject/*
docs/*
!.gitignore
!.htaccess
!cms/.htaccess
.DS_Store
*~
*.zip
*.bak
*error_log
.ftpquota
*.mp3
*.m4v
*.mp4
._*
design/*
protected/config/data.php
.idea
includes/files/*
includes/pdfs/*
vendor/*
vendor
doc/*
.vscode/
