   <!-- =============== VENDOR SCRIPTS ===============-->



   <!-- MODERNIZR-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/modernizr/modernizr.custom.js"></script>

   <!-- MATCHMEDIA POLYFILL-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/matchMedia/matchMedia.js"></script>
   <!-- JQUERY-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery/dist/jquery.js"></script>
   <!-- BOOTSTRAP-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/bootstrap/dist/js/bootstrap.js"></script>
   <!-- STORAGE API-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
  <!-- JQUERY EASING-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery.easing/js/jquery.easing.js"></script>
   <!-- ANIMO-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/animo.js/animo.js"></script>
   <!-- SLIMSCROLL-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/slimScroll/jquery.slimscroll.min.js"></script>
   <!-- SCREENFULL-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/screenfull/dist/screenfull.js"></script>
   <!-- LOCALIZE-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery-localize-i18n/dist/jquery.localize.js"></script>
   <!-- RTL demo-->
   <script src="{{ pathSite }}design/{{ design }}/app/js/demo/demo-rtl.js"></script>
   <!-- PARSLEY-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/parsleyjs/dist/parsley.min.js"></script>


      <!-- =============== PAGE VENDOR SCRIPTS ===============-->

   <!-- JQUERY UI-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery-ui/ui/core.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery-ui/ui/widget.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery-ui/ui/mouse.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery-ui/ui/draggable.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery-ui/ui/droppable.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/jquery-ui/ui/sortable.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
   <!-- MOMENT JS-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/moment/min/moment-with-locales.min.js"></script>
   <!-- FULLCALENDAR-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/fullcalendar/dist/fullcalendar.min.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/fullcalendar/dist/gcal.js"></script>
   <!-- DATATABLES-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/app/vendor/datatable-bootstrap/js/dataTables.bootstrap.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/app/vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js"></script>
   <script src="{{ pathSite }}design/{{ design }}/app/js/demo/demo-datatable.js"></script>
   <!-- CHOSEN-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/chosen_v1.2.0/chosen.jquery.min.js"></script>
   <!-- SLIDER CTRL-->
   <script src="{{ pathSite }}design/{{ design }}/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  
   <!-- DATETIMEPICKER-->
   <script type="text/javascript" src="{{ pathSite }}design/{{ design }}/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
   <!-- Demo-->
   <script src="{{ pathSite }}design/{{ design }}/app/js/demo/demo-search.js"></script>
      <!-- =============== APP SCRIPTS ===============-->
    <script src="{{ pathSite }}design/{{ design }}/app/js/app.js"></script>
    <script src="{{ pathSite }}includes/js/default.js"></script>
   <script type="text/javascript">
      $(window).load(function(){
          setTimeout(function() {
            
              $('#loading').fadeOut( 400, "linear" );
          }, 400);
      });
   
   
   </script>

</body>

</html>


 