<!-- sidebar-->
<aside class="aside">
    <!-- START Sidebar (left)-->
    <div class="aside-inner">
       <nav data-sidebar-anyclick-close="" class="sidebar">
          <!-- START sidebar nav-->
          <ul class="nav">
             
             <!-- Iterates over all sidebar items-->
             <li class="nav-heading ">
                <span data-localize="sidebar.heading.MENU">Menu de navegación</span>
             </li>

             <li class=" ">
                <a href="#catalogos" title="Catalogos" data-toggle="collapse">
                  
                   <em class="fa fa-gear"></em>
                   <span data-localize="sidebar.nav.CATALOGOS">Catalogos</span>
                </a>
                <ul id="catalogos" class="nav sidebar-subnav collapse">
                   <li class="sidebar-subnav-header"></li>
                   <li class=" ">
                     <a href="{{ pathSite }}catalogo/rol" title="Rol">
                        <span>
                           <em class="fa fa-circle-o"></em>
                           Rol
                        </span>
                     </a>
                  </li>
                  <li class=" ">
                     <a href="{{ pathSite }}catalogo/status" title="Status">
                        <span>
                           <em class="fa fa-circle-o"></em>
                           Status
                        </span>
                     </a>
                  </li>
                   <li class=" ">
                     <a href="{{ pathSite }}catalogo/usuarios" title="Usuarios">
                        
                        <span>
                           <em class="fa fa-circle-o"></em>
                           Usuarios
                        </span>
                     </a>
                  </li>
                  
                </ul>
             </li>


             

             

            
          </ul>
          <!-- END sidebar nav-->
       </nav>
    </div>
    <!-- END Sidebar (left)-->
 </aside>