<div id="page-sidebar">
    <div class="scroll-sidebar">
        <ul id="sidebar-menu">
            <li class="header"><span>Menú</span></li>
            <li>
                <a href="{{ pathCMSSite }}home" title="Admin Dashboard">
                    <i class="glyph-icon icon-linecons-tv"></i>
                    <span>Admin dashboard</span>
                </a>
            </li>
            <li class="divider"></li> 
            <li class="header"><span>Components</span></li>
            <li>
                <a href="{{ pathCMSSite }}#" title="Generales">
                    <i class="glyph-icon icon-gear"></i>
                    <span>Generales</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ pathCMSSite }}catalogo/rol" title="Roles" class=""><span>Roles</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/status" title="Status usuario"><span>Status usuario</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/user" title="User"><span>Usuarios</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>