<div id="page-sidebar">
    <div class="scroll-sidebar">
        <ul id="sidebar-menu">
            <li class="header"><span>Menú</span></li>
            <li>
                <a href="{{ pathCMSSite }}dashboard" title="Admin Dashboard">
                    <i class="glyph-icon icon-linecons-tv"></i>
                    <span>Admin dashboard</span>
                </a>
            </li>
            <li class="divider"></li> 
            <li class="header"><span>Administración</span></li>
            <li>
                <a href="{{ pathCMSSite }}#" title="Generales">
                    <i class="glyph-icon icon-gear"></i>
                    <span>Generales</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ pathCMSSite }}configurar-escuela" title="Configurar Escuela" class=""><span>Configurar Escuela</span></a></li>
                        <li><a href="{{ pathCMSSite }}configurar-evaluaciones" title="Configurar evaluaciones" class=""><span>Configurar evaluaciones</span></a></li>
                        <li><a href="{{ pathCMSSite }}configurar-calificaciones" title="Configurar calificaciones" class=""><span>Configurar calificaciones</span></a></li>
                        <li><a href="{{ pathCMSSite }}configuracion-materias" title="Configuración de Materias" class=""><span>Configuración de Materias</span></a></li>
                        <li><a href="{{ pathCMSSite }}plantilla-docente" title="Plantilla Docente" class=""><span>Plantilla Docente</span></a></li>
                        
                        <li><a href="{{ pathCMSSite }}ciclo-escolar" title="Administrar Grupos" class=""><span>Administrar Grupos</span></a></li>
                        
                    </ul>
                </div>
            </li>
            <li>
                <a href="{{ pathCMSSite }}#" title="Notificaciones">
                    <i class="glyph-icon icon-comment"></i>
                    <span>Notificaciones</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ pathCMSSite }}mandar-notificaciones" title="Mandar Notificaciones"><span>Mandar Notificaciones</span></a></li>    
                        <li><a href="{{ pathCMSSite }}capturar-tareas" title="Capturar Tarea" class=""><span>Capturar Tarea</span></a></li>
                    </ul>
                </div>
            </li>
            <!--
            <li>
                <a href="{{ pathCMSSite }}#" title="Reportes y Análisis">
                    <i class="glyph-icon icon-bar-chart"></i>
                    <span>Reportes y Análisis</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        
                        <li><a href="{{ pathCMSSite }}reporte/envios" title="Reporte de envíos"><span>Reporte de envíos</span></a></li>    
                        <li><a href="{{ pathCMSSite }}reporte/asistencia" title="Reporte de Asistencia"><span>Reporte de asistencia</span></a></li>   
                        
                        <li><a href="{{ pathCMSSite }}reporte/evaluaciones" title="Reporte de Evaluaciones"><span>Reporte de evaluaciones</span></a></li>    
                    </ul>
                </div>
            </li>
                        -->
        </ul>
    </div>
</div>