<div id="page-sidebar">
    <div class="scroll-sidebar">
        <ul id="sidebar-menu">
            <li class="header"><span>Menú</span></li>
            <li>
                <a href="{{ pathCMSSite }}home-condominios" title="Admin Dashboard">
                    <i class="glyph-icon icon-linecons-tv"></i>
                    <span>Admin Dashboard</span>
                </a>
            </li>
            <li class="divider"></li> 
            <li class="header"><span>Administración Condominios</span></li>
            <li>
                <a href="{{ pathCMSSite }}#" title="Generales">
                    <i class="glyph-icon icon-gear"></i>
                    <span>Generales</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ pathCMSSite }}catalogo/condominios" title="Condominios" class=""><span>Condominios</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/edificio" title="Edificios" class=""><span>Edificios</span></a></li>
                        <li><a href="{{ pathCMSSite }}catalogo/condomino" title="Condominos" class=""><span>Condominos</span></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{{ pathCMSSite }}#" title="Notificaciones">
                    <i class="glyph-icon icon-comment"></i>
                    <span>Notificaciones</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ pathCMSSite }}mandar-notificaciones-condominios" title="Mandar Notificaciones"><span>Mandar Notificaciones</span></a></li>    
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>