{% include 'includes/header.html' %}

   <div class="wrapper">
      <!-- top navbar-->
      {% include 'includes/header2.html' %}

      {% include 'includes/nav.html' %}
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <h3>Page title
               <small>Subtitle</small>
            </h3>
            <div class="row">
               <div class="col-lg-12">
                  <p>A row with content</p>
               </div>
            </div>
         </div>
      </section>
      <!-- Page footer-->
      <footer>
         <span>&copy; 2015 - Angle</span>
      </footer>
   </div>
   {% include 'includes/footer.html' %}