{% include 'includes/header.html' %}
   <div class="wrapper">
      <!-- top navbar-->
      {% include 'includes/header2.html' %}
   
      {% include 'includes/nav.html' %}
    <section>
      <div id="panelDemo7" class="panel panel-default">
         <div class="col-md-12">
            <div id="panelDemo7" class="panel panel-default">
                           <div class="panel-heading text-center"><h4>Producto 1</h4></div>
                           <div class="panel-body" style="text-align: center;">
                              <img src="{{ pathSite }}design/{{ design }}/app/img/bg1.jpg" style="height: 300px; width: 500px;" class="img-thumbnail img-responsive">
                              <p><h4>Precio: $100.</h4></p>
                              <p><h4>Descripción: nuevo producto.</h4></p>
                              <p><h4>Proveedor: Javier Pintor</h4></p>
                           </div>
                        </div>
             </div>
         </div>
      </div>
   </section>
      <!-- Page footer-->
      <footer>
         <span>&copy; 2020 - Dixi-Project</span>
      </footer>
   </div>
   {% include 'includes/footer.html' %}