{% include 'includes/header.html' %}
   <div class="wrapper">
      <!-- top navbar-->
      {% include 'includes/header2.html' %}
   
      {% include 'includes/nav.html' %}
  
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <h3>Dashboard
               <small></small>
            </h3>
            <div class="row">
               <div class="col-lg-12">
                  <p></p>
               </div>
            </div>
         </div>
      </section>
      {% include 'includes/footer2.html' %}
   </div>
   {% include 'includes/footer.html' %}