{% include 'includes/header.html' %}

   <div class="wrapper">
      <!-- top navbar-->
      {% include 'includes/header2.html' %}

      {% include 'includes/nav.html' %}
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="unwrap">
               <div style="background-image: url({{ pathSite }}design/{{ design }}/app/img/profile-bg.jpg)" class="bg-cover">
                  <div class="p-xl text-center text-white">
                     <img src="{{ pathSite }}design/{{ design }}/app/img/javi.jpg" alt="Image" class="img-thumbnail img-circle thumb128">
                     <h3 class="m0">Javier Pintor</h3>
                     <p>Desarollador</p>
                     <p>Proin metus justo, commodo in ultrices at, lobortis sit amet dui. Fusce dolor purus, adipiscing a tempus at, gravida vel purus.</p>
                  </div>
               </div>
               
               <div class="p-lg">
                  <div class="row">
                     
                    <div class="col-lg-4">
                        <!-- START timeline-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                
                                <div class="pull-right">
                                    <button type="button" data-toggle="modal" data-target="#EditarPerfil" class="btn btn-labeled btn-info" title="Editar">
                                        <span <i class="fa fa-pencil"></i>
                                        </span> Editar
                                    </button>
                                </div>
                                <h3 >Datos Personales </h3>
                                <hr>
                            </div>
                       
                                <div class="list-group">
                                 

                                    <div class="list-group-item">
                                        <em class="pull-left fa fa-suitcase fa-fw mr-lg"></em><b>User ID:</b>  20
                                    </div>

                                     <div  class="list-group-item">
                                        <em class="pull-left fa fa-user fa-fw mr-lg"></em> <b>Nombre: </b> Javier Pintor
                                    </div>

                                     <div  class="list-group-item">
                                        <em class="pull-left fa fa-envelope fa-fw mr-lg"></em><b>Correo:</b>  javier_pinala8897@hotmail.com
                                     </div>
                                     <div  class="list-group-item">
                                        <em class="pull-left fa fa-phone-square fa-fw mr-lg"></em> <b>Telefono:</b>  5615791968
                                     </div>

                                     <div  class="list-group-item">
                                        <em class="pull-left fa fa-map-marker fa-fw mr-lg"></em> <b>Direcciòn:</b>  900 E. La Sierra St.Valrico, FL 33594
                                    </div>

                                     <div  class="list-group-item">
                                        <em class="pull-left fa fa-comments fa-fw mr-lg"></em> <b>Descripcion:</b> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                     </div>
                                 </div>

                                 <div class="panel-body text-center bg-gray-dark">
                                    <div class="row row-table">
                                       <div class="col-xs-4 text-center">
                                          <h3 class="m0">400</h3>
                                          <p class="m0">Socios</p>
                                       </div>
                                       <div class="col-xs-4">
                                          <h3 class="m0">2000</h3>
                                          <p class="m0">Asociados</p>
                                          
                                       </div>
                                       <div class="col-xs-4">
                                          <h3 class="m0">500</h3>
                                          <p class="m0">Productos</p>
                                       </div>
                                    </div>
                                 </div>
                            
                           
                         </div>
                        <!-- END timeline-->
                     </div>

                    

                     <div class="col-lg-8">

                        <div class="panel panel-default">
                           <div class="panel-heading">
 
                              <h3> Actividades</h3>
                              <hr>
                          </div>
                           <div class="list-group">
                              <!-- START User status-->
                              <a href="#" class="media p mt0 list-group-item">
                                   <!-- START widget-->
                                   <div class="panel widget">
                                    <div class="row row-table row-flush">
                                       <div class="col-xs-5">
                                          <picture class="lateral-picture">
                                             <img src="{{ pathSite }}design/{{ design }}/app/img/bg2.jpg"  style="height: 200px; width: 200px;" class="img-responsive">
                                          </picture>
                                       </div>
                                       <div class="col-xs-7 align-middle p-lg">
                                          <p>
                                             <span class="text-lg">16</span>Agosto</p>
                                          <p>
                                             <strong>INVITACIÓN AL EVENTO</strong>
                                          </p>
                                          <p>Donec posuere neque in elit luctus tempor consequat enim egestas. Nulla dictum egestas leo at lobortis.</p>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- END widget-->
                              </a>
                        
                                <!-- START widget-->
                                <div class="panel widget">
                                   <div class="row row-table row-flush">
                                      <div class="col-xs-5">
                                         <picture class="lateral-picture">
                                          <img src="{{ pathSite }}design/{{ design }}/app/img/bg2.jpg"  style="height: 200px; width: 200px;" class="img-responsive">
                                       </picture>
                                      </div>
                                      <div class="col-xs-7 align-middle p-lg">
                                       <p>
                                          <span class="text-lg">20</span>Agosto</p>
                                       <p>
                                          <strong>INVITACIÓN AL EVENTO</strong>
                                       </p>
                                         <p>Donec posuere neque in elit luctus tempor consequat enim egestas. Nulla dictum egestas leo at lobortis.</p>
                                      </div>
                                   </div>
                                </div>

                                   <!-- START widget-->
                                   <div class="panel widget">
                                    <div class="row row-table row-flush">
                                       <div class="col-xs-5">
                                          <picture class="lateral-picture">
                                             <img src="{{ pathSite }}design/{{ design }}/app/img/bg2.jpg"  style="height: 200px; width: 200px;" class="img-responsive">
                                          </picture>
                                       </div>
                                       <div class="col-xs-7 align-middle p-lg">
                                        <p>
                                           <span class="text-lg">24</span>Agosto</p>
                                        <p>
                                           <strong>INVITACIÓN AL EVENTO</strong>
                                        </p>
                                          <p>Donec posuere neque in elit luctus tempor consequat enim egestas. Nulla dictum egestas leo at lobortis.</p>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- END widget-->  
                                <!-- END widget-->  
                        </div>
                        

                     </div>

                  </div>
               </div>

               
            </div>
         </div>
      </section>
      <!-- Page footer-->

      <footer>
         <span>&copy; 2015 - Angle</span>
      </footer>
   </div>
   {% include 'includes/footer.html' %}

    <!-- Modal para eliminar Producto-->
    <div id="EditarPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
         <form action="" data-parsley-validate="" novalidate="" class="form-horizontal">
            <div class="modal-content" >
               <div class="modal-header bg-info-dark" style="border-top-left-radius: 5px; border-top-right-radius: 5px;"> 
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                     <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 id="myModalLabel" class="modal-title text-center">Datos personales</h4>
               </div>
               <div class="modal-body">
                
                  <fieldset>
                     <div class="form-group">
                        <label class="col-md-2 control-label">Nombre :</label>
                        <div class="col-md-10">
                           <div class="input-group">
                              <span class="input-group-addon">
                                 <i class="fa fa-user"></i>
                              </span>
                              <input type="text" placeholder="Username" required="required" class="form-control">
                           </div>
                        </div>
                     </div>
                  </fieldset>

                     <fieldset>
                        <div class="form-group">
                           <label class="col-md-2 control-label">Correo :</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <span class="input-group-addon">@</span>
                                 <input type="email" placeholder="Correo" data-parsley-type="email" class="form-control">
                              </div>
                              
                           </div>
                        </div>
                     </fieldset>

                     <fieldset>
                        <div class="form-group">
                           <label class="col-md-2 control-label">Telefono:</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                 </span>
                                 <input type="text" placeholder="Telefono"  data-parsley-type="number" class="form-control">
                              </div>
                              
                           </div>
                        </div>
                     </fieldset>

                     <fieldset>
                        <div class="form-group">
                           <label class="col-md-2 control-label">Dirección:</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="fa fa-home"></i>
                                 </span>
                                 <textarea cols="5" placeholder="Dirección" class="form-control"></textarea>
                              </div>
                           </div>
                        </div>
                     </fieldset>

                     <fieldset>
                        <div class="form-group">
                           <label class="col-md-2 control-label">Descripción:</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="fa fa-home"></i>
                                 </span>
                                 <textarea cols="5" placeholder="Descripción" class="form-control"></textarea>
                              </div>
                           </div>
                        </div>
                     </fieldset>
         
               </div>
               <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
               </div>
            </div>
         </form>
      </div>
   </div>

   <style>

      
   </style>
   

