{% include 'includesAdmin/header.html' %}
    <div id="page-wrapper">
        {% include 'includesAdmin/header2.html' %} 
        
        <div id="page-content-wrapper">
            <div id="page-content">
                <div class="container">
                    <div id="page-title">
                        <h2>Home</h2>
                        <p>Dashboard del Administrador</p>
                    </div>
                    <div class="row">
                        
                    </div>                        
                </div>
            </div>
        </div>
    </div>
{% include 'includesAdmin/footerJS.html' %}
   