{% include 'includes/header.html' %}
<body class="app ">
    <div id="spinner"></div>
    <div id="app" class="page">
        <div class="main-wrapper page-main" >
            {% include 'includes/header2.html' %}
            {% include 'includes/nav.html' %}
            <div class="app-content">
                <div class="section">
                    {% include 'includes/breadcrumbs.html' %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    ---
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'includes/footer2.html' %}
        </div>
    </div>
   {% include 'includes/footer.html' %}